@import '../../../styles/breakpoints.scss';

.header {
  @apply border-0 border-b border-solid h-14 left-0 fixed top-0 w-full z-40;
  backdrop-filter: blur(12px);
}

.header-container {
  @apply box-border flex items-center h-full justify-between relative w-full px-4;
  &-logo {
    @apply flex w-fit p-2;
    &-community {
      @apply w-16;
    }
    &-image {
      @apply w-20;
    }
    &-breadcrumbs {
      @apply flex ml-2 align-bottom;
    }

    .powered-by {
      @apply flex flex-col justify-end;
      .auth-page-logo {
        &-small {
          @apply block;
          width: 96px;
          height: 18px;
          & img {
            width: 70px;
            height: 18px;
          }
        }
      }
    }
  }
  &-navbar {
    @apply flex items-center;
    &-buttons {
      @apply px-2 flex items-center;
      &-iconbutton {
        @apply mx-2 h-8 w-8 lg:h-10 lg:w-10;
      }
      &-news-center {
        @apply relative mr-2 h-8 w-8 lg:h-10 lg:w-10;
        &-count {
          @apply absolute right-0 rounded-bl-lg rounded-tr-lg text-xs top-0;
          padding: 0.4px 4px;
        }
      }
    }
    &-drawer {
      @apply flex items-center min-w-0 normal-case p-1 ml-3 cursor-pointer;
      &-hello {
        @apply mr-1 opacity-50;
      }
      &-name {
        @apply mr-4;
      }
      & img {
        @apply object-cover rounded-md h-6 w-6 lg:h-8 lg:w-8;
      }
    }
    &-substitutions {
      @apply hidden;
    }
    &-trial {
      @apply hidden;
    }
  }
}

.hedaer-background {
  @apply border-0 border-b border-solid h-14 left-0 sticky top-0 w-full -z-40;
}

@media (max-width: $sm) {
  .header-container {
    @apply px-1;
    &-logo {
      &-breadcrumbs {
        @apply ml-4;
      }

      .powered-by {
        @apply flex flex-col justify-center;
      }
    }
    &-navbar {
      &-buttons {
        @apply pl-1 pr-0;
        &-news-center {
          @apply w-8 h-8;
          font-size: 12px;
          &-count {
            @apply w-2.5 h-2.5 rounded-bl-sm rounded-tr-sm items-center flex p-0 pl-0.5;
          }
        }
      }
      &-drawer {
        @apply px-1 mx-1;
        & img {
          @apply w-8 h-8;
        }
      }
    }
  }
}

@media (min-width: $lg) {
  .header {
    @apply h-16;
  }

  .header-container {
    @apply px-16;
    &-logo {
      &-image {
        @apply w-36;
      }
    }
    &-navbar {
      &-buttons {
        @apply flex items-center px-5;
      }
      &-drawer {
        @apply ml-6;
      }
      &-substitutions {
        @apply flex items-center mr-12;
        &-images {
          @apply flex items-center;
          & img {
            @apply w-8;
          }
          & img:not(:last-child) {
            @apply mr-4;
          }
        }
        &-title {
          @apply mr-4 opacity-50;
        }
      }
    }
  }
}

@media (min-width: $xl) {
  .header-container {
    @apply px-16;
    &-logo {
      &-image {
        @apply w-44;
      }
    }
    &-navbar {
      &-trial {
        @apply flex flex-wrap mr-8 p-2 rounded-md;
        min-width: 160px;
        &-days {
          @apply font-semibold px-1;
        }
      }
    }
  }
}
