@import '../../../styles/breakpoints.scss';

.header {
  @apply h-14 left-0 fixed top-0 w-full z-40;
  backdrop-filter: blur(12px);
}

.header-container {
  @apply box-border flex items-center h-full justify-between relative w-full px-8;
  &-logo {
    &-breadcrumbs {
      @apply flex ml-2 align-bottom;
    }

    .powered-by {
      @apply flex flex-col justify-end;
      .auth-page-logo {
        &-small {
          @apply block;
          width: 96px;
          height: 18px;
          & img {
            width: 70px;
            height: 18px;
          }
        }
      }
    }
  }
  &-navbar {
    @apply flex items-center;
    &-buttons {
      @apply px-2 flex items-center;
      &-iconbutton {
        @apply mx-2 h-8 w-8 lg:h-10 lg:w-10;
      }
      &-news-center {
        @apply relative mr-2 h-8 w-8 lg:h-10 lg:w-10;
        &-count {
          @apply absolute right-0 rounded-bl-lg rounded-tr-lg text-xs top-0;
          padding: 0.4px 4px;
        }
      }
    }
    &-drawer {
      @apply flex items-center min-w-0 normal-case p-1 ml-3 cursor-pointer;
      &-hello {
        @apply mr-1 opacity-50;
      }
      &-name {
        @apply mr-4;
      }
      & img {
        @apply object-cover rounded-md h-6 w-6 lg:h-8 lg:w-8;
      }
    }
    &-substitutions {
      @apply hidden;
    }
    &-trial {
      @apply hidden;
    }
  }
}

.hedaer-background {
  @apply border-0 border-b border-solid h-14 left-0 sticky top-0 w-full -z-40;
  & img {
    @apply relative top-0 left-0 w-full overflow-hidden bg-cover h-14;
  }
}
